/* Colours used

Text Colour (Dark Blue): #062256
Primary Colour (Light Blue): #b4e2ff
Secondary Colour (Silver): #C0C0C0, #aaa9ad
font-family: 'Alkalami', serif;
font-family: 'Jost', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Oswald', sans-serif;

*/

:root {
    --primary-color: #b4e2ff;
    --secondary-color: #c0c0c0;
    --dark-blue: #062256;
    --dark-blue-light: #093586;
}


.hero_img {
    width: 100%;
    padding: 2% 0;
    height: 100vh;
    border: solid 1px #000;
    padding-right: 60%;
    box-sizing: border-box;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0, rgb(0, 0, 0) 80%), url(../img/about_me/jack-eating.jpg) no-repeat;
    background-size: cover;
}

.about-h1 {
	font-size: 100px;
    margin: 0;
    color: var(--primary-color);
    line-height: 100px;
}


.about-bio_flex {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
    position: relative;
}

.about-bio {
	text-align: center;
	position: relative;
	bottom: 20%;
	left: 5%;
}

.about-bio_p {
	width: 80%;
	text-align: justify;
	text-justify: inter-word;
	margin: 0 auto;
	font-size: 24px;
    color: var(--primary-color);
}

@media all and (max-width: 820px) {
	.contact-row {
		flex-direction: column;
		font-size: 13px;
		height: 100%;
	}
	.contact-img_class {
			width: 75%;
		}
	.about-h1 {
		font-size: 30px;
	}
	}

.about-bio_section {
		height: 100vh;
		width: 98vw;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;
		scroll-snap-align: start;
	}
